.header {
  height: calc(var(--header-height) - 1px);
  display: flex;
  align-items: center;
  padding-left: 18px;
  background: var(--color-bg-components);
}

.divider {
  height: 1px;
  box-shadow: var(--box-shadow-indistinct);
  background: var(--color-bg-selected-item);
}
