.text-h1,
%text-h1 {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-xl);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.37px;
  color: var(--black);
}

.text-navbar-link,
%text-navbar-link {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-medium);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: normal;
  color: var(--color-text-default);
}

.text-dropdown-item,
%text-dropdown-item {
  font-family: Poppins, sans-serif;
  font-size: var(--font-size-regular);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: var(--color-text-button);
}

.text-button,
%text-button {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-regular);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-text-button);
}

.text-regular,
%text-regular {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-regular);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: var(--color-text-default);
}

.text-indistinct,
%text-indistinct {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-regular);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  color: var(--color-text-indistinct);
}

.text-table-column-header,
.text-chip,
%text-chip {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-small);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: var(--color-text-navbar-section-header);
}

.text-navbar-section-header,
%text-navbar-section-header {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-small);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  color: var(--color-text-indistinct);
}
