<div class="dropdown" (mouseleave)="showContent = false">
  <button
    class="dropdown__button text-button"
    (click)="showContent = !showContent"
  >
    Default
  </button>

  <div
    class="dropdown__content"
    [style.display]="showContent ? 'block' : 'none'"
  >
    <div class="dropdown__spacer"></div>

    <div class="dropdown__items">
      <a
        *ngFor="let key of itemKeys"
        href="#"
        class="dropdown__item text-dropdown-item"
        [class.dropdown__item--selected]="isSelected(key)"
        (click)="selectKey(key)"
      >
        <span>Something</span>

        <svg
          width="16px"
          height="16px"
          class="dropdown__checkmark"
          *ngIf="isSelected(key)"
        >
          <use [attr.href]="'assets/img/icons/check.svg#check'"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
