.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-primary);

  &:hover {
    cursor: pointer;
    background:
      linear-gradient(rgb(0 0 0 / 5%), rgb(0 0 0 / 5%)),
      var(--color-primary);
  }

  &__icon {
    fill: var(--white);
  }
}
