.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-primary);

  &:hover {
    cursor: pointer;

    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
      var(--color-primary);
  }

  &__icon {
    fill: var(--white);
  }
}
