.sidebar {
  height: calc(100vh - var(--header-height));
  padding: 51px 10px;
  background: var(--color-bg-components);

  &__links {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__section-header {
    margin: 0 0 9px 16px;
  }
}
