.table {
  width: 100%;
  border-spacing: 0;
  border-radius: 4px;
  border: 1px solid var(--color-border-default);
  background: var(--color-bg-components);

  &__row,
  &__header-row {
    display: flex;
    padding: 9px 20px;
  }

  &__header-row {
    width: 100%;
    background: var(--color-bg-selected-item);
    border-bottom: 1px solid var(--color-border-default);
  }

  &__cell,
  &__header-cell {
    flex: 2;

    &--small {
      flex: 1;
    }
  }

  &__header-cell {
    text-align: left;
    text-transform: uppercase;
    padding: 0;

    &--sortable {
      cursor: pointer;
    }
  }
}

.customer-cell {
  display: flex;
  gap: 11px;

  &__logo {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
