<table cdk-table [dataSource]="dataSource">
  <!-- Customer Column -->
  <ng-container cdkColumnDef="customer">
    <th cdk-header-cell *cdkHeaderCellDef>Customer</th>
    <td cdk-cell *cdkCellDef="let customer">{{ customer.name }}</td>
  </ng-container>

  <!-- Com ID Column -->
  <ng-container cdkColumnDef="com_id">
    <th cdk-header-cell *cdkHeaderCellDef>Com ID</th>
    <td cdk-cell *cdkCellDef="let customer">{{ customer.com_id }}</td>
  </ng-container>

  <!-- Leg ID Column -->
  <ng-container cdkColumnDef="leg_id">
    <th cdk-header-cell *cdkHeaderCellDef>Leg ID</th>
    <td cdk-cell *cdkCellDef="let customer">{{ customer.leg_id }}</td>
  </ng-container>

  <!-- Size Column -->
  <ng-container cdkColumnDef="size">
    <th cdk-header-cell *cdkHeaderCellDef>Size</th>
    <td cdk-cell *cdkCellDef="let customer">{{ customer.size }}</td>
  </ng-container>

  <!-- Status Column -->
  <ng-container cdkColumnDef="status">
    <th cdk-header-cell *cdkHeaderCellDef>Status</th>
    <td cdk-cell *cdkCellDef="let customer">{{ customer.status }}</td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
